<!DOCTYPE html>
<html>
  <head>
    <title>Exercise Tracker | freeCodeCamp</title>
    <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon.ico"  type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css" />
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div class="container">
      <h1>Exercise tracker</h1>
      <form action="/api/users" method="post" id="user-form">
        <h2>Create a New User</h2>
        <p><code>POST /api/users</code></p>
        <input id="uname" type="text" name="username" placeholder="username" />
        <input type="submit" value="Submit" id="add-user-bt" />
      </form>
      <form action="/api/users/:_id/exercises" id="exercise-form" method="post">
        <h2>Add exercises</h2>
        <p><code>POST /api/users/:_id/exercises</code></p>
        <input id="uid" type="text" name=":_id" placeholder=":_id" />
        <input id="desc" type="text" name="description" placeholder="description*" />
        <input id="dur" type="text" name="duration" placeholder="duration* (mins.)" />
        <input id="date" type="text" name="date" placeholder="date (yyyy-mm-dd)" />
        <input type="submit" value="Submit" />
      </form>
      <p>
        <strong>GET user's exercise log: </strong>
        <code>GET /api/users/:_id/logs?[from][&amp;to][&amp;limit]</code>
      </p>
      <p><strong>[ ]</strong> = optional</p>
      <p><strong>from, to</strong> = dates (yyyy-mm-dd); <strong>limit</strong> = number</p>
    </div>
    <script>
      const exerciseForm = document.getElementById("exercise-form");

      exerciseForm.addEventListener("submit", () => {
        const userId = document.getElementById("uid").value;
        exerciseForm.action = `/api/users/${userId}/exercises`;

        exerciseForm.submit();
      });
    </script>
      
    <!--
    <script>
      const userForm = document.querySelector("#user-form");
      const addUserBt = document.querySelector("#add-user-bt");

      //add an event handler method to the userForm
      //userForm.addEventListener("submit", (event) => {
      addUserBt.addEventListener("click", (event) => {
        //event.stopPropagation();
        //event.preventDefault();
        //userForm.preventDefault();
        //alert("Clicked user-form");
      usernameInput = document.querySelector("#uname");

        // username input is empty, then
        if(usernameInput.value === ""){
          usernameInput.style = `color: red;`;
          usernameInput.value = "Please, type the user name ";

          //set time interval to clear username text input field
          setInterval(() => {
            usernameInput.style = `color: black;`;
            usernameInput.value = "";
          }, 2000);
        }else{ //else if username input field is filled 
          userForm.submit();
        }
      })
        
    </script>
    -->

  </body>
</html>
